ion-avatar {
    border: 2px solid #25D366;
    padding: 2px;
    border-radius: 50%;
  }
  
  /* Personaliza el pop-up */
  .custom-alert .alert-wrapper {
    background: black;
    color: white;
    text-align: center;
  }
  
  .custom-alert img {
    max-width: 100%;
  }